<template name="appBody">
  <div id="container" class="{{menuOpen}} {{cordova}}">

    <section id="menu">
      {{#if currentUser}}
        <div class="btns-group-vertical">
          <a href="#" class="js-user-menu btn-secondary">
            {{#if userMenuOpen}}
              <span class="icon-arrow-up"></span>
              {{else}}
              <span class="icon-arrow-down"></span>
            {{/if}}
            {{emailLocalPart}}
          </a>
          {{#if userMenuOpen}}
            <a class="js-logout btn-secondary">Logout</a>
          {{/if}}
        </div>
      {{else}}
        <div class="btns-group">
          <a href="{{pathFor 'signin'}}" class="btn-secondary">Sign In</a>
          <a href="{{pathFor 'join'}}" class="btn-secondary">Join</a>
        </div>
      {{/if}}

      <div class="menu-lists">
          <a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
            <span class="wrapper-menu-item">
              <span class="icon-home"></span>
              <span class="title-menu">Home</span>
            </span>
          </a>
          <a href="{{pathFor 'stores'}}" class="{{activePage 'home'}}">
              <span class="wrapper-menu-item">
                  <span class="icon-category"></span>
                  <span class="title-menu">Grocery Stores</span>
              </span>
          </a>
          <a href="{{pathFor 'listsMenus'}}" class="{{activePage 'listsMenus'}}">
            <span class="wrapper-menu-item">
              <span class="icon-category"></span>
              <span class="title-menu">Grocery Lists</span>
            </span>
          </a>
          <a href="{{pathFor 'recipes'}}" class="{{activePage 'home'}}">
            <span class="wrapper-menu-item">
              <span class="icon-category"></span>
              <span class="title-menu">Recipes</span>
            </span>
          </a>
          <a href="{{pathFor 'about'}}" class="{{activePage 'home'}}">
            <span class="wrapper-menu-item">
              <span class="icon-question"></span>
              <span class="title-menu">About</span>
            </span>
          </a>
      </div>
    </section>

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{#each thisArray}}
        {{> yield}}
      {{/each}}
    </div>
  </div>
</template>