<template name="listsMenus">
    <div class="page lists-menus">
        <nav class="js-title-nav">
            <div class="lists">
                {{entryLog}}
                <a class="js-new-list link-list-new"><span class="icon-plus"></span>New List</a>

                {{#each lists}}
                    {{loopLog}}
                    <a href="{{pathFor 'listsShow'}}" class="lists {{activeListClass}}" title="{{name}}">
                        {{#if userId}}
                            <span class="icon-lock"></span>
                        {{/if}}
                        {{#if incompleteCount}}
                            <span class="count-list">{{incompleteCount}}</span>
                        {{/if}}
                        {{name}}
                    </a>
                {{/each}}
            </div>
        </nav>
    </div>
</template>